mei-customization/hamon.odd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  STEP 5
  Step 4 + a simple Schematron constraint for the new attributes.
-->
<TEI xmlns="http://www.tei-c.org/ns/1.0"
  xmlns:rng="http://relaxng.org/ns/structure/1.0"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>MEI + Harmony – Schematron (Step 5)</title>
      </titleStmt>
      <publicationStmt>
        <p>Unpublished customization example.</p>
      </publicationStmt>
      <sourceDesc>
        <p>Based on the MEI ODD approach.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  
  <text>
    <body>
      <schemaSpec ident="mei-mxml-harm-step5"
        ns="http://www.music-encoding.org/ns/mei"
        prefix="mei_"
        start="mei music">
        
        <!-- Base MEI modules -->
        <moduleRef key="MEI"/>
        <moduleRef key="MEI.shared"/>
        <moduleRef key="MEI.harmony"/>
        
        <!-- Step 2: MusicXML-like chord kind datatype -->
        <dataSpec ident="data.mxmlChordKind"
          module="MEI.harmony"
          mode="add">
          <desc xml:lang="en">
            MusicXML-style chord kind values.
          </desc>
          
          <content>
            <!-- An enumerated list of allowed chord kinds -->
            <valList type="closed">
              <valItem ident="major"/>
              <valItem ident="minor"/>
              <valItem ident="augmented"/>
              <valItem ident="diminished"/>
              <valItem ident="dominant"/>
              <valItem ident="major-seventh"/>
              <valItem ident="minor-seventh"/>
              <valItem ident="half-diminished"/>
              <valItem ident="power"/>
            </valList>
          </content>
        </dataSpec>
        
        
        <!-- Step 3: Attribute class att.harm.mxml -->
        <classSpec ident="att.harm.mxml"
          module="MEI.harmony"
          type="atts"
          mode="add">
          <desc xml:lang="en">
            Adds MusicXML-like structured chord information
            (root, bass, kind, text) to harmonic indications.
          </desc>
          
          <attList>
            <attDef ident="root.pname" usage="opt">
              <desc xml:lang="en">
                Pitch name of the chord root (c–b).
              </desc>
              <datatype>
                <dataRef key="data.PITCHNAME"/>
              </datatype>
            </attDef>
            
            <attDef ident="root.accid" usage="opt">
              <desc xml:lang="en">
                Accidental of the chord root (s, f, n, etc.).
              </desc>
              <datatype>
                <dataRef key="data.ACCIDENTAL.WRITTEN"/>
              </datatype>
            </attDef>
            
            <attDef ident="root.oct" usage="opt">
              <desc xml:lang="en">
                Octave number of the chord root, if needed.
              </desc>
              <datatype>
                <dataRef key="data.OCTAVE"/>
              </datatype>
            </attDef>
            
            <attDef ident="bass.pname" usage="opt">
              <desc xml:lang="en">
                Pitch name of the bass note (c–b).
              </desc>
              <datatype>
                <dataRef key="data.PITCHNAME"/>
              </datatype>
            </attDef>
            
            <attDef ident="bass.accid" usage="opt">
              <desc xml:lang="en">
                Accidental of the bass note.
              </desc>
              <datatype>
                <dataRef key="data.ACCIDENTAL.WRITTEN"/>
              </datatype>
            </attDef>
            
            <attDef ident="bass.oct" usage="opt">
              <desc xml:lang="en">
                Octave number of the bass note, if needed.
              </desc>
              <datatype>
                <dataRef key="data.OCTAVE"/>
              </datatype>
            </attDef>
            
            <attDef ident="chord.kind" usage="opt">
              <desc xml:lang="en">
                MusicXML-style chord kind.
              </desc>
              <datatype>
                <dataRef key="data.mxmlChordKind"/>
              </datatype>
            </attDef>
            
            <attDef ident="chord.text" usage="opt">
              <desc xml:lang="en">
                Normalized chord symbol text, if different from
                the element content.
              </desc>
              <datatype>
                <dataRef key="data.WORD"/>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        
        <!-- Step 4: Attach the attribute class to <harm> -->
        <elementSpec ident="harm"
          module="MEI.harmony"
          mode="change">
          <classes mode="change">
            <memberOf key="att.harm.mxml"/>
          </classes>
        </elementSpec>
        
        <!--
          Step 5: Optional Schematron constraints for <harm>.
          Example: if @root.pname is present, @chord.kind should also be present.
          You can add more rules (e.g. consistency between root/bass, etc.).
          Step 5: Schematron constraints for <harm>.
          NOTE: scheme *must* be "schematron" for ISO Schematron rules.
        -->
        <constraintSpec ident="harm-mxml-constraints"
          module="MEI.harmony"
          scheme="schematron"
          mode="add">
          <desc xml:lang="en">
            Simple sanity checks for MusicXML-like chord attributes on &lt;harm&gt;.
          </desc>
          <constraint>
            <!-- declare the MEI namespace for Schematron -->
            <sch:ns prefix="mei" uri="http://www.music-encoding.org/ns/mei"/>
            
            <sch:pattern>
              <sch:rule context="mei:harm">
                <sch:assert test="not(@root.pname) or @chord.kind">
                  If @root.pname is present, @chord.kind should also be given.
                </sch:assert>
              </sch:rule>
            </sch:pattern>
          </constraint>
        </constraintSpec>
        
      </schemaSpec>
    </body>
  </text>
</TEI>
